<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"className":"is-style-no-spacing","layout":{"inherit":false}} -->
<main class="wp-block-group is-style-no-spacing">

  <!-- wp:pattern {"slug":"ona/posts-masonry-news"} /-->
  <!-- wp:pattern {"slug":"ona/posts-mixed-with-sidebar-news"} /-->
  <!-- wp:pattern {"slug":"ona/posts-grid-4-columns-news"} /-->
  <!-- wp:pattern {"slug":"ona/general-ad-banner-news"} /-->  
  <!-- wp:pattern {"slug":"ona/posts-list-with-sidebar-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
